*, *:after, *:before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    min-width: 1400px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}
.container {
    width: 1440px;
    margin: 0 auto;
}